<launch>
    <group ns = "ctm_mpt">

        <param name = "robot_description" command = "$(find xacro)/xacro '$(find ctm_mpt_image)/urdf/ctm_mpt.xacro'" />
        <node pkg = "robot_state_publisher" type = "robot_state_publisher" name = "robot_state_publisher" output = "screen"/>
        <node pkg = "rviz" type = "rviz" name = "rviz" args = "-d $(find ctm_mpt_image)/launch/ctm_mpt.rviz" output = "screen"/>
        <node pkg = "ctm_mpt_kernal" type = "virtual_controller_node" name = "virtual_controller" output = "screen"/>

        <!-- <node pkg = "ctm_mpt_kernal" type = "motor_controller_node" name = "motor_controller" output = "screen"/> -->

        <!-- <node pkg = "ctm_mpt_kernal" type = "torque_monitor_node" name = "torque_monitor" output = "screen"/> -->
        
    </group>

    <node pkg = "rqt_gui" type = "rqt_gui" name = "ctm_mpt_plot"/>
    
</launch>
