<launch>
    <group ns="ctm_mpt">
        <!-- Virtual controller. -->
        <!-- These three pkgs are bound together. -->
        <param name="robot_description"
                command="$(find xacro)/xacro '$(find ctm_mpt_image)/urdf/ctm_mpt.xacro'" />
        <node pkg="robot_state_publisher"
                type="robot_state_publisher"
                name="robot_state_publisher"
                output="screen"/>
        <node pkg="rviz"
                type="rviz"
                name="rviz"
                args="-d $(find ctm_mpt_image)/launch/ctm_mpt.rviz"
                output="screen"/>
        <node pkg="ctm_mpt_kernal"
                type="vrt_cntlr_node"
                name="virtual_controller"
                output="screen"/>
        
        <!-- Motor controller. -->
        <!-- <node pkg="ctm_mpt_kernal"
                type="mtr_cntlr_node"
                name="mtr_cntlr"
                output="screen"/> -->

        <!-- Torque controller. -->
        <!-- <node pkg="ctm_mpt_kernal"
                type="trq_cntlr_node"
                name="trq_cntlr"
                output="screen"/> -->

        <!-- Test. -->
        <!-- <node pkg="ctm_mpt_kernal"
                type="test_node"
                name="test_node"
                output="screen"/> -->
        
        <!-- Plot torque curve. -->
        <node pkg="rqt_gui"
                type="rqt_gui"
                name="plotter"/>
    </group>
</launch>
